<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>Thêm mới sản phẩm</p>
<form th:action="@{/add}" method="post" th:object="${productCreate}">
<!--    <input type="text" th:field="*{id}" placeholder="id" required /> <br>-->
    Tên: <input type="text" th:field="*{name}" placeholder="Tên sản phẩm" required /> <br>
    Giá: <input type="number" th:field="*{price}" placeholder="Giá" required /> <br>
    Mô tả: <input type="text" th:field="*{describe}" placeholder="Mô tả" required /> <br>
    Nhà sản xuất: <input type="text" th:field="*{producer}" placeholder="Nhà sản xuất" required /> <br>
    <button type="submit">Thêm mới</button>
</form>
<a th:href="@{/}">Quay lại</a>
</body>
</html>