<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .warning{
            color: red;
            font-size: 50px;
        }
    </style>
</head>
<body>

<form th:action="@{/search}" method="get">
    <input type="text" name="name" placeholder="Tìm kiếm theo tên sản phẩm"
           th:value="${param.name}" /> <!--giữ giá trị-->
    <button type="submit">Tìm kiếm</button>

</form> <br>

<a th:href="@{/showFormCreate}">Thêm mới sản phẩm</a>

<p class="warning" th:text="${msg}"></p>
<p class="warning" th:text="${edits}"></p>
<p class="warning" th:text="${del}"></p>

<h2>Danh sách sản phẩm</h2>
<table border="1px">
    <thead>
    <tr>
        <th>ID</th>
        <th>Tên Sản Phẩm</th>
        <th>Giá</th>
        <th>Phân khúc</th>
        <th>Mô tả</th>
        <th>Nhà sản xuất</th>
        <th colspan="2">Chức năng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s, loop : ${list}">
        <td th:text="${loop.count}"></td>
        <td th:text="${s.name}"></td>
        <td th:text="${#numbers.formatInteger(s.price,3,'COMMA')}"></td>
        <td th:if="${s.price < 10000000}">Bình Dân</td>
        <td th:if="${s.price >= 10000000 and s.price <= 20000000}">Tầm Trung</td>
        <td th:if="${s.price > 20000000}">Cao Cấp</td>
        <!--            <td th:text="${s.price > 20000000 ? 'Cao Cấp' : (s.price > 10000000 ? 'Tầm Trung' : 'Bình Dân')}"></td> &lt;!&ndash; Hiển thị phân khúc dựa trên giá &ndash;&gt;-->
        <td th:text="${s.describe}"></td>
        <td th:text="${s.producer}"></td>
        <td>
            <form th:action="@{/showFormEdit/{id}(id=${s.id})}" method="get">
                <button type="submit">Sửa</button>
            </form>
            <form th:action="@{/delete/{id}(id=${s.id})}" method="post" onsubmit="return confirmDelete('${s.name}');">
                <button type="submit" >Xóa</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<script>
    function confirmDelete(name) {
        return confirm("Bạn có chắc chắn muốn xóa sản phẩm " + name + " không?");
    }
</script>
</body>
</html>