<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chỉnh sửa sản phẩm</title>
</head>
<body>
<div>
    <h1>Chỉnh sửa sản phẩm</h1>
    <form th:action="@{/update/{id}(id=${productE.id})}" th:object="${productE}" method="post">
        <label>
            <input type="text" th:field="*{name}" placeholder="Tên sản phẩm" required />
        </label> <br>
        <label>
            <input type="number" th:field="*{price}" placeholder="Giá" required />
        </label> <br>
        <!-- Thẻ select để chọn Category -->
        <label>
            <select th:field="*{category.id}" required>
                <option value="" disabled selected>Chọn hãng</option>
                <option th:each="category : ${listE}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
        </label>
        <button type="submit">Lưu</button>
    </form>

</div>
</body>
</html>
