<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Thêm mới sản phẩm</h1>
<form th:action="@{/add}" method="post" th:object="${productC}">
    <label>
        <input type="text" th:field="*{name}" placeholder="Tên sản phẩm" required />
    </label> <br>
    <label>
        <input type="number" th:field="*{price}" placeholder="Giá" required />
    </label> <br>
    <!-- Thẻ select để chọn Category -->
    <label>
        <select th:field="*{category.id}" required>
            <option value="" disabled selected>Chọn hãng</option>
            <option th:each="category : ${listC}" th:value="${category.id}" th:text="${category.name}"></option>
        </select>
    </label>
    <button type="submit">Thêm mới</button>
</form>
</body>
</html>