<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/category/show-form-create-cat}">Thêm mới category</a><br>

<h1>Danh sách Category</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Hãng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="s : ${list}">
        <td th:text="${s.id}"></td>
        <td th:text="${s.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>