<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cập nhật sản phẩm</title>
</head>
<body>
<h2>Cập nhật sản phẩm</h2>
<form th:action="@{/edit}" method="post" th:object="${productEdit}">
    <input type="hidden" th:field="*{id}" /> <!-- ID không cần hiển thị -->
    <input type="text" th:field="*{name}" required/> <br>
    <input type="number" th:field="*{price}" required/> <br>
    <input type="text" th:field="*{describe}" required/> <br>
    <input type="text" th:field="*{producer}" required/> <br>
    <button type="submit">Cập nhật</button>
</form>
<a th:href="@{/}">Quay lại</a>
</body>
</html>
