<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .warning {
            color: red;
            font-size: 20px;
            margin: 20px;
        }
    </style>
</head>
<body>
<a th:href="@{/category/show-form-create-cat}">Thêm mới category</a><br>
<a th:href="@{/}">Tro ve trang chu</a><br>
<div th:if="${not #lists.isEmpty(del)}" class="warning" th:text="${del}"></div>
<div th:if="${not #lists.isEmpty(error)}" class="warning" th:text="${error}"></div>
<h1>Danh sách Category</h1>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Hãng</th>
        <th>Chức năng</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="c : ${list}">
        <td th:text="${c.id}"></td>
        <td th:text="${c.name}"></td>
        <td>
            <form th:action="@{/category/delete-cat/{id}(id=${c.id})}" method="post">
                <button type="submit"
                        th:data="|Are you sure you want delete this category ${c.name}|"
                        onclick="return confirm(this.getAttribute('data'));">Xóa
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>