<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Management</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

</head>
<body>
<div class="container py-4">
    <h4 class="mb-3">Tìm kiếm sản phẩm</h4>

    <form th:action="@{/search}" class="row row-cols-lg-auto g-2 align-items-center mb-4">
        <div class="col-12">
            <input type="text" name="name" th:value="${selectedName}" class="form-control form-control-sm"
                   placeholder="Nhập tên sản phẩm">
        </div>
        <div class="col-12">
            <input type="text" id="price" name="price" th:value="${selectedPrice}" class="form-control form-control-sm"
                   placeholder="Nhập giá bắt đầu" selectedName>
        </div>
        <div class="col-12">
            <select name="category" class="form-control form-control-sm">
                <option value="" th:selected="${selectedCategory == null}" disabled>Chọn loại sản phẩm</option>
                <option th:each="c : ${listC}" th:value="${c.name}" th:text="${c.name}"
                        th:selected="${c.name == selectedCategory}">
                </option>
            </select>
        </div>
        <div class="col-12">
            <a th:href="@{/}" class="btn btn-sm btn-light">
                <i class="bi bi-arrow-repeat text-primary"></i>
            </a>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-sm btn-primary">
                <i class="fas fa-search"></i> Tìm
            </button>
        </div>

    </form>

    <div>
        <th:block th:if="${msg}">
            <h3 style="color: red" th:text="${msg}"></h3>
        </th:block>
    </div>
    <div class="mb-3">
        <a th:href="@{/create-form}" class="btn btn-outline-primary">+ Thêm sản phẩm </a>
    </div>
    <table class="table table-bordered table-hover">
        <thead class="table-light">
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Chọn</th>
            <th class="text-center">Tên Sản Phẩm</th>
            <th class="text-center">Giá Bắt Đầu</th>
            <th class="text-center">Loại Sản Phẩm</th>
            <th class="text-center">Tình Trạng</th>
            <th class="text-center">Hành Động</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${#lists.isEmpty(list)}">
            <td colspan="7" class="text-center text-danger">Không tìm thấy sản phẩm</td>
        </tr>
        <tr th:each="p, loop : ${list} ">
            <td class="text-center" th:text="${(currentPage - 1) * 5 + loop.index + 1}"></td>
            <td class="text-center"><input type="checkbox" th:value="${p.id}" th:data-name="${p.name}"></td>
            <td class="text-center" th:text="${p.name}"></td>
            <td class="text-center" th:text="${p.price}"></td>
            <td class="text-center" th:text="${p.category.name}"></td>
            <td class="text-center" th:text="${p.status}"></td>
            <td class="text-center">
                <a th:href="@{/}" class="btn btn-sm btn-outline-secondary">Sửa</a>
                <a th:href="@{/delete/{id}(id=${p.id})}">
                    <button type="submit" class="btn btn-sm btn-outline-danger"
                            th:data="|Bạn có muốn xóa sản phẩm ${p.name} ?|"
                            onclick="return confirm(this.getAttribute('data'));">Xóa
                    </button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="mb-3">
        <button class="btn btn-danger" onclick="deleteSelectedProducts()">
            <i class="bi bi-trash text-light"></i> Xóa</button>
    </div>

    <nav aria-label="Page navigation" class="py-3">
        <ul class="pagination justify-content-start">
            <li class="page-item" th:classappend="${currentPage == 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/search(page=${currentPage - 1}, name=${selectedName}, price=${selectedPrice}, category=${selectedCategory})}">
                    Trước
                </a>
            </li>
            <li class="page-item" th:each="i : ${#numbers.sequence(1, totalPages)}"
                th:classappend="${i == currentPage} ? 'active'">
                <a class="page-link"
                   th:href="@{/search(page=${i}, name=${selectedName}, price=${selectedPrice}, category=${selectedCategory})}"
                   th:text="${i}">
                </a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/search(page=${currentPage + 1}, name=${selectedName}, price=${selectedPrice}, category=${selectedCategory})}">
                    Sau
                </a>
            </li>
        </ul>
    </nav>

</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function deleteSelectedProducts() {
        const checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
        if (checkboxes.length === 0) {
            alert('Vui lòng chọn ít nhất một sản phẩm để xóa.');
            return;
        }

        const productIds = Array.from(checkboxes).map(checkbox => checkbox.value);
        const productNames = Array.from(checkboxes).map(checkbox => checkbox.getAttribute('data-name'));
        if (confirm(`Bạn có chắc chắn muốn xóa các sản phẩm sau: ${productNames.join(', ')}?`)) {
            fetch('/products/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: new URLSearchParams({
                    productIds: productIds
                })
            }).then(response => {
                if (response.ok) {
                    alert('Sản phẩm đã được xóa.');
                    location.reload();
                } else {
                    alert('Có lỗi xảy ra khi xóa sản phẩm.');
                }
            });
        }
    }
</script>
</body>
</html>