<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới sinh viên</title>
</head>
<body>
<h2>Thêm mới sinh viên</h2>
<form th:action="@{/add}" method="post" th:object="${studentCreate}">
    <input type="text" th:field="*{name}" placeholder="Tên" required /> <br>
    <input type="text" th:field="*{email}" placeholder="Email" required /> <br>
    <input type="number" th:field="*{salary}" placeholder="Lương" required /> <br>
    <input type="date" th:field="*{dob}" placeholder="Ngày Sinh" required /> <br>
    <button type="submit">Thêm mới</button>
</form>
</body>
</html>
